/* ======================================================
         1) BASE 
         2) Area de juego 
         3) Botones
         4) Herramientas / Tools
         5) Items / Mercado
         6) Pociones
         7) Paneles / Inventario / Contenedores
       ====================================================== */

/*  -----------------------------
        1) BASE 
        ----------------------------- */
body {
    background-image: url(/img/fondo_game.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.main-title {
    font-family: "shlop", sans-serif;
    font-size: 48px;
    color: hsl(0, 0%, 0%);
    text-align: center;
    margin-bottom: 20px;
}

/* -----------------------------
       2) Area de juego 
       ----------------------------- */
.game-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.game-area {
    position: relative;
    display: inline-block;
    background-color: hsl(0, 2%, 10%);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px hsl(0, 0%, 0%);
    width: 1250px;
    height: auto;
}

.game-area img {
    display: block;
    position: relative;
    max-width: 100%;
    border-radius: 5px;
}

.items-inventory-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    position: absolute;
    top: 30%;
    left: 12.5%;
    width: 950px;
    height: 450px;
}

.items-inventory{
    margin: 15px;
    width: auto;
    height: 110px;
}

.potions-container{        

    position: absolute;
    top: 6%;
    left: 45%;
    border-radius: 10px;
    width: 575px;
    height: 640px;
}

.potions-craft-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.potion{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    background-color: #3D2D38;
    border: 10px solid #2B2028;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    transition: transform 0.2s;
}

.potion:hover{
    transform: scale(1.15);
    background-color: #4d3b48;
}

/* -----------------------------
       3) Botones
       ----------------------------- */
.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: hsl(0, 2%, 10%);
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0 0 10px hsl(0, 0%, 0%);
}

.buttons-container button,
.buttons-container a {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.buttons-container img {
    width: 80px;
    transition: transform 0.2s;
}

.buttons-container img:hover {
    transform: scale(1.2);
}

.craft-potion{
    display: flex;
    justify-content: space-between; /* Empuja la descripción a la izquierda y la poción seleccionada a la derecha */
    align-items: center; /* Centra verticalmente los elementos principales */
    margin: 15px;
    margin-top: 0;
    padding: 15px; /* Ajusta el padding para un mejor espacio interior */
    background-color: #3D2D38;
    border: 10px solid #2B2028;
    border-radius: 10px;
    width: 570px; /* Mantén el ancho, pero la altura la ajustaremos */
    height: 270px; /* Ajusta la altura para que quepa todo como en la imagen 2 */
    box-sizing: border-box;
    color: white;
}

.ingredientes-container{
    padding: 0;
    display: flex; /* Activa Flexbox para los elementos de ingrediente */
    justify-content: flex-start; /* Alinea los ingredientes a la izquierda */
    gap: 20px; /* Espacio entre cada grupo de ingrediente+cantidad */
    margin-bottom: 5px;
}

.description-potion{
    margin: 0;
    margin-left: 25px;
    padding: 0;
    display: flex; /* Activa Flexbox para alinear los elementos internos (h2, p, ingredientes-container, button) */
    flex-direction: column; /* Apila los elementos verticalmente */
    justify-content: center; /* Opcional: Centra verticalmente si hay espacio */
    align-items: flex-start; /* Alinea los elementos a la izquierda */
    flex-grow: 1; /* Permite que este div ocupe el espacio disponible */
    -webkit-text-stroke: 0.1px hsl(0, 0%, 0%);
}

.description-potion h2{
    margin-top: 5px;
    margin-bottom: 5px; /* Ajustado para más espacio */
    font-family: "shlop", sans-serif;
    font-size: 36px;
    letter-spacing: 3px;
    color: #F8F4E8; /* Color para que se vea claro */
    text-shadow: 2px 2px #2B2028; /* Sombra para resaltar */
}

.description-potion-requirement{
    margin-top: 1px;
    margin-bottom: 8px; /* Ajustado para más espacio */
    font-family: "shlop", sans-serif;
    font-size: 26px;
    color: #F8F4E8;
    text-shadow: 1px 1px #2B2028;
}

.ingrediente-item {
    display: flex;
    flex-direction:row; /* Apila la imagen y la cantidad */
    gap: 10px;
    align-items: center; /* Centra la imagen y el número */
}

.ingrediente-img {
    width: 60px; /* Tamaño de la imagen del ingrediente */
    height: auto;
    margin-bottom: 5px; /* Espacio entre la imagen y la cantidad */
}

.ingrediente-qty {
    font-family: "shlop", sans-serif;
    /*font-size: 24px;  Tamaño de la cantidad */
    color: #F8F4E8;
    margin: 0; /* Elimina márgenes por defecto del párrafo */
    text-shadow: 1px 1px #2B2028;
}

.button-cauldron{
    background-color: #49485A;
    border: 7px solid #1E2133;
    border-radius: 10px;
    width: 130px; /* Un poco más ancho para el texto "produce" */
    height: 50px; /* Ajusta la altura */
    cursor: pointer;
    margin-right: 0; /* Asegura que no tenga margen a la derecha */
    font-family: "shlop", sans-serif;
    font-size: 26px;
    color: #D4D1DC; /* Color de texto más claro */
    text-transform: uppercase; /* Para que el texto sea todo mayúsculas como en la imagen */
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5); /* Sombra para botón */
    transition: background-color 0.2s ease;
    transition: transform 0.2s;
}

.button-cauldron:hover {
    background-color: #5D5C6E; /* Cambio de color al pasar el ratón */
    transform: scale(1.15);
}

.potion-selected{
    margin: 15px; /* Puedes ajustar este margen si es necesario */
    height: 150px; /* La altura de la poción */
    width: auto; /* Mantiene la proporción */
    align-self: center; /* Centra la poción verticalmente dentro del flex container */
    flex-shrink: 0; /* Evita que la poción se encoja */
}

.buy-item-container{
    display: flex;            
    justify-content: space-between; 
    align-items: center;
    padding: 0px 25px 0px 25px;
    position: absolute;
    top: 6%;
    left: 50%;
    background-color: #3D2D38;
    border: 10px solid #2B2028;
    border-radius: 10px;
    width: 475px;
    height: 250px;
}

.item-buy-description{
    display: inline-block;
    
}

.item-buy-description h2{
    margin-top: 0;
    font-family: "shlop", sans-serif;
    letter-spacing: 3px; 
    font-size: 36px;
    
}

.item-description{
    font-family: "shlop", sans-serif;
    letter-spacing: 3px; 
    font-size: 26px;
    
}

.market-action{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0;
}

.price{
    font-family: "shlop", sans-serif;
    font-size: 32px;
    color: antiquewhite;
}

.button-market{
    background-color: #49485A;
    border: 7px solid #1E2133;
    border-radius: 10px;
    width: 110px;
    height: 60px;
    cursor: pointer;
    margin-right: 30px;
    font-family: "shlop", sans-serif;
    font-size: 26px;
    color: #1E2133;
}

.coin-img{
    width: 40px;
    height: 40px;
}

.item-buy-img{
    width: 100px;
    height: auto;
}

.items-market-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    position: absolute;
    top: 51%;
    left: 12.5%;
    
    width: 950px;
    height: 200px;
}

.items-market{
    margin: 15px;
    width: auto;
    height: 110px;
}

.main-title{
    font-family: "shlop", sans-serif;
    font-size: 100px;
    color: rgb(147, 146, 150);
    text-align: center;
    margin-bottom: 100px;
    -webkit-text-stroke: 0.1px hsl(0, 0%, 0%);
}

.button-exit{
    position: absolute;
    margin-left: 570px;
    margin-top: 10px;
    top: 5%;
    left: -40%;
}

.buttons-style{

    display: block;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.buttons-style {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
   
}

.buttons .buttons-style img,
.buttons-style img {
    transition: transform 0.5s ease, filter 3s ease, margin 0.3s ease;;
    
}

.buttons .buttons-style img:hover,
.buttons-style img:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 0 25px hsl(248, 16%, 10%));
    margin-block: 20px;
    transition: all 0.3s ease;
}



.button-exit {
    margin-left: 570px;
    margin-top: 10px;
}

.button-market {
    background-color: hsl(243, 11%, 32%);
    border: 7px solid hsl(231, 26%, 16%);
    border-radius: 10px;
    width: 110px;
    height: 60px;
    cursor: pointer;
    margin-right: 30px;
    font-family: "shlop", sans-serif;
    font-size: 26px;
    color: hsl(231, 26%, 16%);
}

.button-cauldron {
    background-color: hsl(243, 11%, 32%);
    border: 7px solid hsl(231, 26%, 16%);
    border-radius: 10px;
    width: 110px;
    height: 60px;
    cursor: pointer;
    margin-right: 30px;
    font-family: "shlop", sans-serif;
    font-size: 26px;
    color: hsl(231, 26%, 16%);
}

/* -----------------------------
       4) Herramientas / Tools
       ----------------------------- */
.tools-container {
    background-color: hsl(0, 2%, 10%);
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0 0 10px hsl(0, 0%, 0%);
}

.tools-panel {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.tools-panel button,
.tools-panel a {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.tools-panel img {
    width: 64px;
    transition: transform 0.2s;
}

.tools-panel img:hover {
    transform: scale(1.15);
}

/* -----------------------------
       5) Items / Mercado
       ----------------------------- */
.buy-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px 0px 25px;
    position: absolute;
    top: 6%;
    left: 50%;
    background-color: hsl(319, 15%, 21%);
    border: 10px solid hsl(316, 15%, 15%);
    border-radius: 10px;
    width: 475px;
    height: 250px;
}

.item-buy-description {
    display: inline-block;
}

.item-buy-description h2 {
    margin-top: 0;
    font-family: "shlop", sans-serif;
    letter-spacing: 3px;
    font-size: 36px;
}

.item-description {
    font-family: "shlop", sans-serif;
    letter-spacing: 3px;
    font-size: 26px;
}

.item-buy-img {
    width: 100px;
    height: auto;
}

.items-market-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    position: absolute;
    top: 51%;
    left: 12.5%;
    width: 950px;
    height: 200px;
}

.items-market {
    margin: 15px;
    width: auto;
    height: 110px;
}

.coin-img {
    width: 40px;
    height: 40px;
}

.market-action {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0;
}

.price {
    font-family: "shlop", sans-serif;
    font-size: 32px;
    color: hsl(35, 77%, 91%);
}

/* -----------------------------
       6) Pociones
       ----------------------------- */


/* -----------------------------
       7) Paneles / Inventario / Contenedores
       ----------------------------- */
.panel-inventario {
    position: absolute;
    left: 50%;
    bottom: -100%;
    transform: translateX(-50%);
    width: min(360px, 90%);
    max-width: 95%;
    height: auto;
    max-height: 50vh;
    background-color: hsl(231, 26%, 16%);
    color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px;
    transition: bottom 0.4s ease, opacity 0.4s ease, transform 0.4s ease;
    z-index: 10;
    border-radius: 8px;
    overflow: auto;
    box-shadow: 0 8px 16px hsla(0, 0%, 0%, 0.6);
    opacity: 0;
}

.panel-inventario.activo {
    bottom: 25%;
}

.panel-inventario img {
    width: 30%;
    align-items: center;
}

.panel-container {
    background-color: hsl(231, 26%, 16%);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px hsl(0, 0%, 0%);
}

/* sss */

.farm-panel{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem 2rem;
    padding: 0;
    position: absolute;
    top: 37%;
    left: 27%;
    /*background: #3D2D38;*/
    width: 520px;
    height: 280px;
    margin: 11px 10px 10px 30px;
}

.plants{
    width: 50px;
    
}